<div class="h-full w-full flex flex-col gap-6">
  <div class="relative w-98">
    <app-autocomplete-search
      [formControl]="searchControl"
      [options]="searchTokens() ?? []"></app-autocomplete-search>
  </div>

  @let artistsLength = artistsWithPolygonsIndicator()?.length ?? 0;
  @let loadingState = loading() ?? false;

  @if (artistsLength) {
    <cdk-virtual-scroll-viewport
      itemSize="360"
      (scrolledIndexChange)="onScroll($event)">
      <div
        *cdkVirtualFor="let row of artistsMatrix(); trackBy: trackByIndex"
        class="flex gap-5 mt-5">
        @for (artist of row; track $index) {
          <app-artist-card
            [artist]="artist"
            [loading]="loadingState"
            [hasPolygons]="artist?.hasPolygons ?? false"
            (click)="selectArtist(artist.id)"></app-artist-card>
        }
      </div>
    </cdk-virtual-scroll-viewport>
  }

  @if (loadingState && !artistsLength) {
    <div class="flex flex-wrap gap-5">
      @for (_ of Array(8); track $index) {
        <app-artist-card [artist]="null" [loading]="true"></app-artist-card>
      }
    </div>
  }

  @if (!loadingState && !artistsLength) {
    <div *ngTemplateOutlet="emptyList"></div>
  }
</div>

@let artist = selectedArtist();

@if (artist && isShowModal()) {
  <app-dialog-with-canvas
    [artist]="artist"
    [polygons]="polygonsBySelectedArtist()"
    (isCloseEmit)="closeDialog($event)"
    (savePolygonsEmit)="
      onSavePolygons($event, artist.id)
    "></app-dialog-with-canvas>
}

<ng-template #emptyList>
  <div class="flex items-center justify-center h-full p-4">
    <div
      class="flex flex-col items-center justify-center p-8 border border-gray-600 rounded-lg shadow-lg bg-gray-800 text-center transition-transform transform hover:scale-105">
      <svg
        class="w-16 h-16 mb-4 text-gray-300"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M3 3h18M3 9h18M3 15h18M3 21h18" />
      </svg>
      <h2 class="text-2xl font-semibold text-white">No Artists Found</h2>
      <p class="mt-2 text-gray-400">
        It seems there are no artists available at the moment.
      </p>
    </div>
  </div>
</ng-template>
