@import 'tailwindcss';

body {
  height: 100vh;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #2e3338;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444a50;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #58a6ff;
}
