<div
  class="flex flex-col relative bg-[#2e3338] text-white rounded-2xl shadow-lg p-4 w-68 h-96 transition-all duration-300 hover:cursor-pointer hover:shadow-xl hover:ring-2 hover:ring-[#58a6ff] hover:scale-102">
  @if (hasPolygons()) {
    <div class="absolute top-1 right-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="gold"
        viewBox="0 0 24 24"
        class="w-3 h-3">
        <path
          d="M12 .587l3.668 7.568 8.332 1.204-6.038 5.889 1.427 8.319L12 18.896l-7.389 3.877 1.427-8.319-6.038-5.889 8.332-1.204L12 .587z" />
      </svg>
    </div>
  }
  @if (loading()) {
    <div *ngTemplateOutlet="skeletonView"></div>
  } @else {
    <div *ngTemplateOutlet="defaultView"></div>
  }
</div>

<ng-template #defaultView>
  @let artistModel = artist();
  @if (artistModel) {
    <img
      [src]="artistModel.images[0]?.url || 'empty-artist-image.jpg'"
      [alt]="artistModel.name"
      class="w-full h-48 object-cover rounded-lg" />
    <div class="mt-3">
      <h2
        class="text-xl font-bold text-center overflow-hidden whitespace-nowrap text-ellipsis"
        [title]="artistModel.name">
        {{ artistModel.name }}
      </h2>
      <p class="text-sm text-gray-400 text-center">
        <span class="font-semibold">Followers:</span>
        {{ artistModel.followers.total | number }}
      </p>
      <p class="mt-2 text-sm text-center">
        <span class="font-semibold">Popularity:</span>
        {{ artistModel.popularity }}
      </p>
    </div>
    <div class="mt-4 text-xs text-gray-300">
      <p class="line-clamp-3">
        <span class="font-semibold">Genres: </span>
        {{
          artistModel.genres.length > 0
            ? artistModel.genres.join(', ')
            : 'No genres available'
        }}
      </p>
      <p>
        <span class="font-semibold">Spotify Link: </span>
        <a
          [href]="artistModel.external_urls.spotify"
          target="_blank"
          class="text-blue-400"
          >View on Spotify</a
        >
      </p>
    </div>
  }
</ng-template>

<ng-template #skeletonView>
  <div class="w-full h-48 bg-gray-700 animate-pulse rounded-lg"></div>
  <div class="mt-3">
    <div class="h-5 w-3/4 mx-auto bg-gray-700 animate-pulse rounded"></div>
    <div class="mt-2 h-4 w-1/2 mx-auto bg-gray-700 animate-pulse rounded"></div>
  </div>
  <div class="mt-4 space-y-2">
    <div class="h-3 w-full bg-gray-700 animate-pulse rounded"></div>
    <div class="h-3 w-2/3 bg-gray-700 animate-pulse rounded"></div>
  </div>
</ng-template>
