@import 'tailwindcss';

body {
  height: 100vh;
}

/* Тёмный, тонкий скролл */
::-webkit-scrollbar {
  width: 6px; /* Толщина */
}

::-webkit-scrollbar-track {
  background: #2e3338; /* Цвет фона скроллбара */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #444a50; /* Цвет ползунка */
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #58a6ff; /* Яркое выделение при наведении */
}
